<style>

    body {
        background-image: url(/assets/Fractals/redmoonfar.jpg);
        background-size: cover;
        background-repeat: no-repeat; 
        background-attachment: fixed;
        background-position: center;
        color: black;
        font-family: monospace;
        
    }
    
    


</style>



<% provide(:title, "Log in") %>

<% if logged_in? %>

<% else %>
<!-- I have literally no idea why it shows twice.  

I've done everything.

It still shows.

Luckily I've managed to get one to not render, but dammit Ruby, I had faith in you.

-->
<div style="opacity: .3; ">
<%= render 'blankpagetemplate' %>

  

<% end %>
    </div>

<div class="login_controls">
    <div class="mainform">
    <%= form_for(:session, url: 'lgin') do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form_box', style: 'width: 200px;' %>
<br><br><br>
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form_box', style: 'width: 178px;' %>
<br><br><br>
      <%= f.submit "Log in", class: "form_box", style: 'width: 140px;' %>
    <% end %>
    </div>
</div>
     