<p id="notice"><%= notice %></p>

<p>
  <strong>Pot:</strong>
  <%= @pot_image.pot %>:  <%= @pot_image.pot.title %>
</p>

<p>
  <%= image_tag @pot_image.image_url %>
</p>

<%= link_to 'Edit', show_pot_image_style_path(@pot_image, @style) %> |
<%= link_to 'Back', pot_images_style_path(@style) %>
