<p id="notice"><%= notice %></p>

<p>
  <strong>Pot:</strong>
  <%= @pot_image.pot %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @pot_image.image_url %>
</p>

<%= link_to 'Edit', edit_pot_image_path(@pot_image) %> |
<%= link_to 'Back', pot_images_path %>
