<p id="notice"><%= notice %></p>

<h1>Fact Tags</h1>

<table>
  <thead>
    <tr>
      <th>Fact</th>
      <th>Tag</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fact_tags.each do |fact_tag| %>
      <tr>
        <td><%= fact_tag.fact %></td>
        <td><%= fact_tag.tag %></td>
        <td><%= link_to 'Show', fact_tag %></td>
        <td><%= link_to 'Edit', edit_fact_tag_path(fact_tag) %></td>
        <td><%= link_to 'Destroy', fact_tag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fact Tag', new_fact_tag_path %>
