<p id="notice"><%= notice %></p>



<div class="secondHeader">
  <%= @pot.title %>
</div>



<div class="boxed">
        

  <% @imageList.each do |pot_image| %>

        <%= image_tag pot_image.image_url, :class => "pot_image"%>
    <br>
       <%= link_to 'Show', show_pot_image_style_path(pot_image, @style) %> |
        <%= link_to 'Edit', edit_pot_image_style_path(pot_image, @style) %> |
        <%= link_to 'Destroy', pot_image, method: :delete, data: { confirm: 'Are you sure?' } %>
<br>
    <% end %>



<div class="standard_text">
  <div class="boxed"><div class="boxed">
      
    
  <%= @pot.description %>
      </div>
     


  <strong>Price:</strong>
  <%= @pot.price %>

<br>
<br>

  <strong>Size:</strong>
  <%= @pot.size %>

<br>
<br>


  <strong>Color:</strong>
  <%= @pot.color %>

<br>
<br>


  <strong>Style:</strong>
  <%= @pot.style %>

<br>
<br>


  <strong>Glazes:</strong>
  <%= @pot.glazes %>
<br>
<br>

    </div>
    </div>
    <div class="buyButton">
    <%= link_to 'Buy this item!', buy_pot_individual_path(@pot, @style), :class => "buyButton"%>
         </div>
<br>
<%= link_to 'Edit', edit_pot_style_path(@pot, @style) %> |
<%= link_to 'Add Image', add_pot_image_path(@pot, @style)%>
    </div>