<p id="notice"><%= notice %></p>


<div class="secondHeader">
    Selcouthisms
</div>


    

    <% @facts.each do |fact| %>


<div class="boxed">
<div class="factTitle">
    <h2><%= fact.title %></h2>
</div>
        
<div style="fact"><%= raw fact.body %></div>

<div class="factOptions">
        <%= link_to 'Show', show_fact_style_path(@style, fact) %>  
        <%= link_to 'Edit', edit_fact_style_path(fact) %>  
        <%= link_to 'Destroy', fact, method: :delete, data: { confirm: 'Are you sure?' } %>  
    </div>
    </div>
    <% end %>




<br>
<br>
<br>
<%= link_to 'New Fact', new_fact_style_path(@style) %>
