<!DOCTYPE html>
<html>
  <head>
    <title>Main (personal mode)</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'personal', media: 'all', 'data-turbolinks-track': 'reload' %>
      
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
    
    
    
    
   
    
    

  <body style="width:100%; margin:0px; padding:0px">
      
      
    <div class="main">
    <div class="myHeader" >
        <div style="display: block" width="100%" height="100%" text-decoration="none";>
            <%= link_to "Welcome To My World", index_path(@style), :class => "bigImageLink" %>
                
        </div>
    </div> 
        <div class="nav">
            <%= link_to 'About', about_path(@style), :class => "tablinks_major"%>
            <%= link_to 'Contact', contact_path(@style), :class => "tablinks_major" %>
            <%= link_to 'Calculator', calculator_path(@style), :class => "tablinks_major" %>
            <%= link_to 'Pottery', pottery_path(@style), :class => "tablinks_major" %>
            <%= link_to 'Errata', errata_path(@style), :class => "tablinks_major" %>
            
        </div>
      <div class="mainPart">

    <%= yield %>
           
          
           </div>
        
<div class="footer">
    <div class="importantText">
        
    
    Like the picture? ;)
        </div>
    <br>
    
          <%= link_to 'Login', login_path(@style), :class => "footer"  %>
      </div> 
              
          
          
       
        
      </div>
      
  </body>
</html>
