<!DOCTYPE html>
<html>
  <head>
    <title>Main (plain mode)</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'plain', media: 'all', 'data-turbolinks-track': 'reload' %>
      
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
    
    
    
    
   
    
    <div class="styles">
        <div class="importantText">
            Themes:
        </div>
        <%= link_to 'Plain', params.permit(:style).merge(:style => "1"), :class => "styles"%>
        <br/>
        <%= link_to 'Water', params.permit(:style).merge(:style => "2"), :class => "styles"%>
        <br/>
        <%= link_to 'Fire', params.permit(:style).merge(:style => "3"), :class => "styles"%>
        <br/>
        <%= link_to 'Forest', params.permit(:style).merge(:style => "4"), :class => "styles"%>
        <br/>
        <%= link_to 'Celestial', params.permit(:style).merge(:style => "5"), :class => "styles"%>
        <br/>
        <%= link_to 'Ice', params.permit(:style).merge(:style => "6"), :class => "styles"%>
        <br/>
        <%= link_to 'Desert', params.permit(:style).merge(:style => "7"), :class => "styles"%>
        <br/>
        <%= link_to 'Sunset', params.permit(:style).merge(:style => "8"), :class => "styles"%>
        <br/>
        <%= link_to 'Steampunk', params.permit(:style).merge(:style => "9"), :class => "styles"%>
        <br/>
        <%= link_to 'Dark', params.permit(:style).merge(:style => "10"), :class => "styles"%>
        <br/>
        <%= link_to 'Crystal', params.permit(:style).merge(:style => "11"), :class => "styles"%>
        <br/>
        <%= link_to 'SCP', params.permit(:style).merge(:style => "12"), :class => "styles"%>
        <br/>
    </div>

  <body style="width:100%; margin:0px; padding:0px">
    <div class="main">
    <div class="myHeader" >
        <div id="headerImage" style="display: block" width="80%" height="100%" text-decoration="none";>
            <%= link_to image_tag("/assets/mainplain.jpg"), index_path(@style) %>
                
        </div>
        <div class="tab">
            <%= link_to 'About', about_path(@style), :class => "tablinks_major"%>
            <%= link_to 'Contact', contact_path(@style), :class => "tablinks_major" %>
            <%= link_to 'Calculator', calculator_path(@style), :class => "tablinks_major" %>
            <%= link_to 'Pottery', pottery_path(@style), :class => "tablinks_major" %>
            <%= link_to 'Errata', errata_path(@style), :class => "tablinks_major" %>
            
        </div>
    </div> 
      <div class="mainPart">

    <%= yield %>
           </div>
        
      </div>
      <div class="footer">
          <%= link_to 'Login', login_path(@style)%>
      </div>
  </body>
</html>
